.filterThContent{
    width: 100%;
    display: flex;
}
.filter1{
    width: 26.5%;
}
.filter2{
    width: 17.5%;
}
.filter3{
    width: 8.5%;
}
.filter4{
    width: 8.5%;
}
.filter5{
    width: 8.5%;
}
.filter6{
    width: 8.5%;
}
.filter7{
    width: 8.5%;
}
.filter8{
    width: 8.5%;
}